{"filter":false,"title":".gitconfig","tooltip":"/.gitconfig","undoManager":{"mark":2,"position":2,"stack":[[{"start":{"row":0,"column":0},"end":{"row":7,"column":20},"action":"insert","lines":["[alias]","  co = checkout","  ci = commit","  st = status","  br = branch","  hist = \"log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short\"","  type = cat-file -t","  dump = cat-file -p"],"id":1}],[{"start":{"row":5,"column":72},"end":{"row":5,"column":73},"action":"remove","lines":["\""],"id":2}],[{"start":{"row":5,"column":9},"end":{"row":5,"column":10},"action":"remove","lines":["\""],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":9},"end":{"row":5,"column":9},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1450030224707,"hash":"8870d35adce5c40d8bf08dec6d0f9305d06da253"}